<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AudioDAO">


    <!--添加-->
    <insert id="inseret" parameterType="Audio">
        insert into audio values (#{id},#{name},#{size},#{duration},#{download_path},#{album.id})
    </insert>


</mapper>