<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.MenuDAO">

<resultMap id="MenuResultMap" type="Menu">
    <id property="id" column="id"></id>
    <result property="title" column="title"></result>
    <result property="logo" column="logo"></result>
    <result property="href" column="href"></result>
    <collection property="menus" ofType="Menu">
        <id property="id" column="mm_id"/>
        <result property="title" column="mm_title"/>
        <result property="logo" column="mm_logo"/>
        <result property="href" column="mm_href"/>
        <result property="parent_id" column="parent_id"/>
    </collection>
</resultMap>

    <select id="queryAll" resultMap="MenuResultMap">
        select m.id,m.title,m.logo,m.href,mm.id as mm_id,mm.title as mm_title,mm.logo as mm_logo,mm.href as mm_href,mm.parent_id as parent_id
         from menu m
         inner join menu mm
         on m.id=mm.parent_id
    </select>
</mapper>